langchain==0.2.16
langchain-chroma==0.1.4
langchain-community==0.2.12
langchain-core==0.2.43
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.4
chromadb==0.5.23
uuid_utils==0.14.1
llama_cpp_python==0.3.16
torch==2.2.0+cu118
transformers==4.46.3
sentence-transformers==5.2.3
huggingface_hub==0.36.2
tokenizers==0.20.3
safetensors==0.7.0
numpy==1.26.4
packaging==24.2
requests==2.28.1